body{
    background-color:#e4e8f8;
    width: 940px;
}
.contenedor{
    display: flex;
    width: 1440px;
    height: 1024px;
    flex-direction: row;
    margin-top: 40px;
    
}
.contenedor1{
    flex-flow: row;
    justify-content: flex-start;
}

.contenedor2{
    flex-flow: row;
    justify-content: flex-end;
    padding-right: 40px;
    
}



.logo{
    position: absolute;
    width: 31.09px;
    height: 48px;
    margin-left: 84px;
    margin-top: 40px;
    background-color: #D8DFE8;

}
#texto{
    position: absolute;
    background-color: #e4e8f8;
    margin-top: 168px;
    margin-left: 240px;
    width: 688px;
    height: 48px;
    color: #0A3871;
    border: none;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.minusculascontenedor{
    display: inline-flex;
    margin-top: 851px;
    margin-left: 240px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 1em;

}
.imgminusculas{
    position: relative;
    margin-right: 1em;
    
    color: #495057;

}

.minusculas p{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%; 
    color: #495057;
    opacity: 0.8;
    margin-bottom: 16px;
    
}

.botonesContenedor{
  
    display: flex;
    flex-direction: row;
    width: 800px;
       
    padding: 24px;
    gap: 8px;
    margin-left: 240px;
    align-items: flex-start;
         
       
}

.botonencriptar{
    
    padding: 24px;
   
    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    transition: 1s all;
    cursor: pointer;
}

.botondesencriptar{

     
    padding: 24px;
    

    width: 328px;
    height: 67px;

    background: #D8DFE8;
    border-radius: 24px;

    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    transition: 1s all;
    cursor: pointer;

    }

    .rectangulo{
        
        width: 400px;
        height: 944px;
        padding:5px;
        margin-top:40px;
        margin-left: auto;
        border-radius: 32px;
        background-color: #ffffff;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
        }
     .textolorem{
            text-align: center;
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            flex: content;
            order:0;
            flex-grow: 0;
            margin-right: 56px;
            padding: 2em;
            border-radius: 32px;
            margin-bottom: 2em;
        }
        .botoncopiar{
            padding: 24px;
            width: 328px;
            height: 67px;
            align-items: centerls;
        
            /* Dark blue/dark-blue-300 */
        
            background: #ffffff;
            border-radius: 24px;
        
            /* Inside auto layout */
        
            color: #0A3871;
            
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        
            transition: 1s all;
            cursor: pointer;
            flex: content;
            order:1;
            flex-grow: 0;
            margin-right: 56px;
            
        
        }

    
    .copyright{
        text-align: center;
        margin: auto;
        font-size: 16px;
        font-family: 'Inter'
    }
/* desktop 2*/
.escritorio2{
    display: flex;
    width: 1440px;
    height: 1024px;
    flex-direction: row;
    margin-top: 40px;
    
}
.lorem1{
    flex-flow: row;
    justify-content: flex-start;
}

.lorem2{
    flex-flow: column;
    padding-right: 40px;

    
}
.rectangulo2{
    position:absolute;    
    width: 400px;
    height: 944px;
    padding:5px;
    margin-top:40px;
    margin-left: auto;
    border-radius: 32px;
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.texto2{
    
    color:#0A3871;
    width: 640px;
    height: 288px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    margin-top: 168px;
    margin-left: 240px;

}

@media screen and (max-width:480px){
    .logo{
        margin-top: auto;
    }
    #texto{
     position: absolute;
    width: 343px;
    height: 48px;
    margin-left: 16px;
    margin-top: 152px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;

    }

    .minusculascontenedor{
    margin-top: 451px;
    margin-left: 40px;
    }
    .botonesContenedor{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto;
    }
    
    .contenedor{
        display: flex;
        width: 327px;
        height: 186px;
        flex-direction: column;
        margin-top: 40px;
        
    }
    .contenedor1{
        flex-flow: column;
        justify-content: flex-start;
    }
    
    .contenedor2{
        flex-flow: column;
        justify-content: flex-end;
        padding-right: 16px;
        
    }

    .rectangulo{
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-items: auto;
        width: 327px;
        height: 186px;
    }
    #textolorem, #botoncopiar{
        width: auto;
    }

   
       
    
    .copyright{
        text-align: left;
        font-size: 16px;
        font-family: 'Inter';
        margin-top: 800px;
    }
}
